{#
/**
 * @file
 * Default theme implementation for a Solana Pay QR code placeholder.
 *
 * Available variables:
 * - unique_id: A unique ID for the placeholder div.
 */
#}
<div id="{{ unique_id }}" class="solana-pay-qr-placeholder"></div>